body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-rows:0.5fr 3fr 0.5fr;
}

header,
footer,
.body{
    background-color: rgb(255, 255, 255);
    width: 100%;   
}

header{   
    position: relative;
    display: flex;    
}

.menu{
    margin-left: auto;
    align-self: center;
    margin-right:2%;
    display: flex;  
}

header h2{
    font-family: "Brush Script MT", cursive;
    font-size: 3vmax; 
    margin-left: 2%;
    align-self: center;
}

/* the parent :  .menu */
a{
    color:black;
    text-decoration: none; 
    font-size: 1.5vw;
    padding:10px;
    box-shadow: 15px 5px 25px  rgb(136, 134, 134);   
    border-radius: 25px; 
}

.body{
    box-shadow: 15px 15px 25px  rgb(173, 173, 173);
    margin-bottom:40px;
}

.image{
    background-image: url(./index-photos/Shawn_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}


