body{
    background-color: rgb(44, 43, 43);
}
.container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    /* grid-gap: 120px; */
    grid-row-gap: 30px;
    grid-auto-flow: dense;
    text-align: center;;
}