.container{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-auto-rows:250px;
    grid-auto-flow: dense;
}

.horizontal{
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}

.vertical{
    grid-row: auto / span 2;
}