
section{
    width: 0;
    height: 0;
   background-color: none;
   position: unset;
}
form{
    width: 25%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color:white;
    margin-right:2em;
    right:0;
    /* box-shadow: 0px 15px 25px   rgba(122, 126, 113, 0.507); */
    padding:50px;   
}