body {
    padding: 0px;
    margin: 0px;
}
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12 1fr);
    grid-template-rows: 4fr 10fr 4fr;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}
.item1 {
    grid-area: h;
}

.item2 {
    grid-area: c;
    background: rgb(255, 255, 255);
}
.item3 {
    grid-area: f;
   
}

div:nth-child(odd){
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 30px;
}

div:nth-child(even){
    background-color: white;
    color: black;
}