/* Targets width greater than or equal to 768px */
/* Example: iPad portraint */

.bioBgImage{
    filter:blur(0);
}
article{
    color:rgb(160, 159, 159);
    width: 40%;
    margin-left:3%;
    font-size: 1.5vmax;
}

